%h1 HOME
%table#ads
 %thead 
  %tr
   %th Proprietario
   %th Tipo
   %th Titolo
   %th Notizia
   %th Locazione
   %th Maggiori Info 
 %tbody 
  - @all.each do |ad|
   %tr
    %td= ad.owner
    %td= ad.adtype
    %td= ad.title
    %td= ad.notice
    %td= ad.location
    %td= link_to "Dettagli", ad_path(ad)
%br
%br
#{link_to 'Crea un nuovo Annuncio', new_ad_path}
%br
%br
#{link_to 'Edil News', articles_path}
%br
%br
#{link_to 'Servizi utenti', services_path}
%br 
%br
#{link_to "Profile", current_user}
%br 
%br
