%h1 HOME
%table#ads
 %thead 
  %tr
   %th Proprietario
   %th Tipo
   %th Titolo
   %th Notizia
   %th Locazione
   %th Maggiori Info 
 %tbody 
  - @all.each do |ad|
   %tr
    %td= ad.owner
    %td= ad.adtype
    %td= ad.title
    %td= ad.notice
    %td= ad.location
    %td= link_to "Dettagli", ad_path(ad)
%br
%br

   