%h1 
= link_to root_path, class: "navbar-item" do
 %h1.title.is-5 Easy Home
 .center
  = image_tag("icona2.png", width: 150)
%li #{link_to 'Crea un nuovo Annuncio', new_ad_path}
%br
%table#ads
 %thead{style: "text-align:left;"} 
  %tr
   %th Titolo
   %th Tipo
   %th Descrizione
   %th Locazione
   %th Maggiori Info 
   %th Proprietario
 %tbody 
  - @all.each do |ad|
   %tr
    %td= ad.adtype
    %td= ad.title
    %td= ad.notice
    %td= ad.location
    %td= link_to "Dettagli", ad_path(ad)
    %td= ad.owner
  %br
%br
%br


   