%h1 Dettagli: #{@ad.title}
%br
%br
%ul#details
    %p{style: "text-align:right;"}   
        - pre_favorite = @ad.favorites.find { |favorite| favorite.user_id == current_user.id}
        - if pre_favorite
            %br= link_to 'Rimuovi dai preferiti', ad_favorite_path(@ad, pre_favorite), method: :delete
        - else
            %b Aggiungi ai preferiti 
            = link_to ad_favorites_path(@ad), method: :post do
                = image_tag("favorite.png", width: 40)
    %p{style: "text-align:left;"} 
        %br
        %b Tipo:
        = @ad.adtype
        %br
        %br
        %b Titolo:
        = @ad.title
        %br
        %br
        %b Descrizione:
        = @ad.notice
        %br
        %br
        %b Indirizzo:
        = @ad.location
        

<iframe width="500" height="300" frameborder="0" style="border:0" 
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB-eXpnc1yVaWm-gfNMP8TfGgc_qzXVMNo&q=#{@ad.location}" allowfullscreen> 
</iframe>
%br
%br
=link_to 'Modifica Annuncio', edit_ad_path(@ad)

#{link_to 'Cancella Annuncio', ad_path(@ad), :method => :delete,data: { confirm: "Are you sure?" }}
%br



