%h1 Dettagli: #{@ad.title}
%br
%br
%ul#details
    %p{style: "text-align:left;"}   
        %b Tipo:
        = @ad.adtype
        %br
        %br
        %b Titolo:
        = @ad.title
        %br
        %br
        %b Descrizione:
        = @ad.notice
        %br
        %br
        %b Indirizzo:
        = @ad.location

<iframe width="500" height="300" frameborder="0" style="border:0" 
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB-eXpnc1yVaWm-gfNMP8TfGgc_qzXVMNo&q=#{@ad.location}" allowfullscreen> 
</iframe>
%br
%br
=link_to 'Modifica Annuncio', edit_ad_path(@ad)

#{link_to 'Cancella Annuncio', ad_path(@ad), :method => :delete,data: { confirm: "Are you sure?" }}
%br



