%br
= label :article, :title , 'Titolo'
= text_field :article, :title
%br
%br
= label :article, :release_date , 'Release on'
= date_select :article, :release_date
%br
%br
= label :article, :text, 'Testo articolo'
= text_area  :article, :text 
%br
%br
= label :article, :author , 'Autore articolo'
= text_field :article, :author


