= label :article, :title , 'Titolo'
= text_field :article, :title

= label :article, :release_date , 'Release on'
= date_select :article, :release_date

= label :article, :text, 'Testo articolo'
= text_area  :article, :text 

= label :article, :author , 'Autore articolo'
= text_field :article, :author


