= link_to articles_path, class: "navbar-item" do
 %h1.title.is-5 Edil News
 .center
  = image_tag("icona2.png", width: 150)
%br
%h4 Ricerca per titolo
= form_tag search_path, :method => :get do
 = text_field_tag(:search, params[:search], placeholder: "Type", class: "form-control")
 = submit_tag 'Cerca articolo', :class => 'btn btn-info glyphicon glyphicon-search' , :title => nil
%br
%br
%table#articles{style: "text-align:center;"}  
 %thead
  %tr
   %th Titolo              
   %th Data pubblicazione
   %th Autore
   %th #like
   %th
  - @all.each do |article|
   %tr
    %td{style: "width:30%"}=article.title
    %td=article&.release_date&.strftime("%B %d %Y")
    %td=article.author
    %td= article.likes.count
    - pre_like = article.likes.find { |like| like.user_id == current_user.id}
    %td{style: "width:10%"}
     - if pre_like
      = link_to article_like_path(article, pre_like), method: :delete do
       = image_tag("unlike.jpg", width: 40)
     - else
      = link_to article_likes_path(article), method: :post do
       = image_tag("like.png", width: 40)
    %td{style: "text-align:left"}=link_to "Dettagli", article_path(article)
%br
%nav.navbar.navbar-default
 .containter-fluid
  .navbar-header
   %button.navbar-toggle.collapsed{ type: :button, 'data-toggle' => :collapse, 'data-target' => "#bs-example-navbar-collapse-1" }
    %span.sr-only Toggle Navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
    = link_to 'Crea Articolo', new_article_path, class: 'navbar-brand' 
%br

