%h1 Edilnews #{session[:mate]}
%table#articles
 %thead
  %tr
   %th Titolo Articolo
   %th Data Realizzazione
   %th Testo
   %th Autore
   %th Maggiori info
 %tbody
  - @all.each do |article|
   %tr
    %td=article.title
    %td=article&.release_date&.strftime("%B %d %Y")
    %td=article.text
    %td=article.author
    %td=link_to "Dettagli", article_path(article)
%br
%h4 Ricerca per titolo
= form_tag search_path, :method => :get do
 = text_field_tag(:search, params[:search], placeholder: "Type", class: "form-control")
 = submit_tag 'Cerca articolo', :class => 'btn btn-info glyphicon glyphicon-search' , :title => nil
%br
#{link_to 'Crea nuovo articolo', new_article_path}
%br
%br
#{link_to "Profile", current_user}
%br
%br 
=link_to 'Home', ads_path
%br 
%br
