%h1 Dettagli riguardo l'articolo: #{@article.title}

%ul#details 
    %li 
        Titolo:
        = @article.title
    %li 
        Release date:
        = @article&.release_date&.strftime("%B %d %Y")
        
    %li
        Testo articolo:
        = @article.text
    
    %li
        Autore articolo:
        = @article.author
    
    	
    - pre_like = @article.likes.find { |like| like.user_id == current_user.id}
    - if pre_like
        = button_to 'Unlike', article_like_path(@article, pre_like), method: :delete
    - else
        = button_to 'Like', article_likes_path(@article), method: :post
    = @article.likes.count
    = (@article.likes.count) == 1 ? 'Like' : 'Likes'

%h3 comments:

- if @article.comments.empty?
    %p
        No comments fot this article...
- else
    %p
        - @article.comments.each do |r|
            = r.body
            = link_to 'Cancella commento', [r.article, r], method: :delete,data: { confirm: "Are you sure?" }
    
            %br



#{link_to 'Aggiungi commento', new_article_comment_path(@article)}
#{link_to 'Torna a edilnews', articles_path}
%br
= link_to "Cancella articolo", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }
#{link_to 'Modifica Articolo', edit_article_path(@article)}
%br
