%h1 Dettagli riguardo l'articolo: #{@article.title}

%ul#details 

    %li 
        %h3 Titolo: 
        = @article.title
    %li 
        %h4 Release date:
        = @article&.release_date&.strftime("%B %d %Y")     
    %li
        %h4 Testo articolo:
        = @article.text  
    %li
        %h4 Autore articolo:
        = @article.author
    
    	

%h3 Commenti:

- if @article.comments.empty?
    %p
        No comments fot this article...
- else
    %p
        - @article.comments.each do |r|
            = r.comments
            %br

%br
-if FavoriteArticle.find_by(:user_id => current_user, :article_id => @article.id) != nil
    = link_to 'Rimuovi dai preferiti', favorite_article_path(@article, type: "unfavorite"), method: :put, :class => 'btn btn-outline-danger'
- else
    = link_to 'Aggiungi ai preferiti', favorite_article_path(@article, type: "favorite"), method: :put, :class => 'btn btn-outline-success'

%br
%br
%br

#{link_to 'Torna a edilnews', articles_path}
%br
%br
#{link_to 'Cancella articolo', article_path(@article), :method => :delete}
%br
%br
#{link_to 'Aggiorna informazioni', edit_article_path(@article)}
%br
%br
#{link_to 'Aggiungi commenti', new_article_comment_path(@article)}
%br
%br

