%h1 Profilo: #{@user.name}

.gravatar_edit
    = gravatar_for @user
    %a{href: "http://gravatar.com/emails", target: "_blank"}
%br
%br
%h3{style: "text-align:left;"}  Annunci di #{@user.name} :

- if current_user.ads.empty?
    %p
        No Ads from this user...
- else
    %p
        - current_user.ads.each do |ad|
            %li{style: "text-align:left;"}  
                Tipo:
                = Ad.find(ad.id).adtype
            %br
            %li{style: "text-align:left;"} 
                Titolo:
                = Ad.find(ad.id).title
            %br
            %li{style: "text-align:left;"} 
                Descrizione:
                = Ad.find(ad.id).notice
            %br
            %li{style: "text-align:left;"} 
                Indirizzo:
                = Ad.find(ad.id).location
            %br
            %br
            %br
%br
%br
%h3 Favorite Ads:
- if @user.favorite_ads.empty?
    %p No ads saved as favorite
- else
    %br
    - @user.favorite_ads do |c|
        %li 
            Proprietario Annuncio:
            = @ad.owner
        %br
        %li 
            Tipo:
            = @ad.adtype
        %br
        %li 
            Titolo:
            = @ad.title
        %br
        %li 
            Descrizione:
            =@ad.notice
        %br
        %li 
            Indirizzo:
            =@ad.location
        %br
        = link_to "Remove from Favorites", favorite_ad_path(c, type: "unfavorite"), :method => :put
        %br
        %br
%br
%br
= link_to "Settings", edit_user_path(current_user)
%br
