
%h1 Profilo: #{@user.name}
.center
    - if current_user.avatar.attached?
        = image_tag current_user.avatar, :size => "200x200"
.right
    = link_to "Settings", edit_user_path(current_user)
%br
%br
%table#ads
    %thead 
        %tr
            %th Annunci di #{@user.name} :
            %th Annunci Preferiti:
    %tbody 
        %tr
            %td{style: "width:2000px"}
                - if current_user.ads.empty?
                    %p
                        No Ads from this user...
                - else
                    %p
                        - current_user.ads.each do |ad|
                            .right
                                - @curr_ad = Ad.find(ad.id)
                                %iframe{allowfullscreen: "", frameborder: "0", height: "200", src: "https://www.google.com/maps/embed/v1/place?key=AIzaSyB-eXpnc1yVaWm-gfNMP8TfGgc_qzXVMNo&q=#{@curr_ad.location}", style: "border:10", width: "150"}
                            %p{style: "text-align:left;"}  
                                %b Tipo:
                                = Ad.find(ad.id).adtype
                        
                            %p{style: "text-align:left;"} 
                                %b Titolo:
                                = Ad.find(ad.id).title
                            %p{style: "text-align:left;"} 
                                = Ad.find(ad.id).notice

                            =link_to "Dettagli", ad_path(ad)
                            %br
                            %br
                            %br
                            %br
                            %br
            %td{style: "width:50%"}
                - if @user.favorites.empty?
                    %p No ads saved as favorite
                - else
                    %br
                    - @user.favorites.each do |f|
                        - pre_favorite = Ad.find(f.ad_id).favorites.find { |favorite| favorite.user_id == current_user.id}
                        
                        .center  
                            %br= link_to 'Rimuovi dai preferiti', ad_favorite_path(Ad.find(f.ad_id), pre_favorite), method: :delete
                        .right
                            - @fav_ad = Ad.find(f.ad_id)
                            %iframe{allowfullscreen: "", frameborder: "0", height: "200", src: "https://www.google.com/maps/embed/v1/place?key=AIzaSyB-eXpnc1yVaWm-gfNMP8TfGgc_qzXVMNo&q=#{@fav_ad.location}", style: "border:10", width: "150"}
                        %p{style: "text-align:left;"}  
                            %b Tipo:
                            = Ad.find(f.ad_id).adtype
                        %p{style: "text-align:left;"} 
                            %b Titolo:
                            = Ad.find(f.ad_id).title
                        %p{style: "text-align:left;"} 
                            = Ad.find(f.ad_id).notice              
                        %p{style: "text-align:left;"} 
                            %b Di:
                            = Ad.find(f.ad_id).owner
                        =link_to "Dettagli", ad_path(f.ad_id)
                        %br
                        %br
                        %br
                        %br
%br
%h3 Articoli che piacciono a #{@user.name}:
- if @user.likes.empty?
    %p No ads saved as favorite
- else
    %br
    - @user.likes.each do |c|
        %li 
            Titolo:
            = Article.find(c.article_id).title
        %li 
            Release date:
            = Article.find(c.article_id)&.release_date&.strftime("%B %d %Y")
        
        %li
            Testo articolo:
            = Article.find(c.article_id).text
        %li
            Autore articolo:
            = Article.find(c.article_id).author
        = Article.find(c.article_id).likes.count
        = (Article.find(c.article_id).likes.count) == 1 ? 'Like' : 'Likes'
        - pre_like = Article.find(c.article_id).likes.find { |like| like.user_id == current_user.id}
        = link_to article_like_path(Article.find(c.article_id), pre_like), method: :delete do
            = image_tag("unlike.jpg", width: 40)
        %br
        =link_to "Dettagli", article_path(Article.find(c.article_id))
        %br
        %br
        

%br
