:css
    h1 {text-align: center;}
    p {text-align: left;}
    div {text-align: left;}
    .center {
        display: flex;
        justify-content: center;
    }
%h1 Profilo: #{@user.name}
.center
    .gravatar_edit
        = gravatar_for @user
        %a{href: "http://gravatar.com/emails", target: "_blank"}
%br
= link_to "Settings", edit_user_path(current_user)
%br
%br
%h3{style: "text-align:left;"}  Annunci di #{@user.name} :

- if current_user.ads.empty?
    %p
        No Ads from this user...
- else
    %p
        - current_user.ads.each do |ad|
            %li{style: "text-align:left;"}  
                Tipo:
                = Ad.find(ad.id).adtype
        
            %li{style: "text-align:left;"} 
                Titolo:
                = Ad.find(ad.id).title
            
            %li{style: "text-align:left;"} 
                Descrizione:
                = Ad.find(ad.id).notice
            
            %li{style: "text-align:left;"} 
                Indirizzo:
                = Ad.find(ad.id).location
            
            - @curr_ad = Ad.find(ad.id)
            %iframe{allowfullscreen: "", frameborder: "0", height: "150", src: "https://www.google.com/maps/embed/v1/place?key=AIzaSyB-eXpnc1yVaWm-gfNMP8TfGgc_qzXVMNo&q=#{@curr_ad.location}", style: "border:0", width: "200"}
%br
%br
%h3 Articoli che piacciono a #{@user.name}:
- if @user.likes.empty?
    %p No ads saved as favorite
- else
    %br
    - @user.likes.each do |c|
        %li 
            Titolo:
            = Article.find(c.article_id).title
        %li 
            Release date:
            = Article.find(c.article_id)&.release_date&.strftime("%B %d %Y")
        
        %li
            Testo articolo:
            = Article.find(c.article_id).text
        %li
            Autore articolo:
            = Article.find(c.article_id).author
        = Article.find(c.article_id).likes.count
        = (Article.find(c.article_id).likes.count) == 1 ? 'Like' : 'Likes'
        %br
        %br
        

%br
