<!DOCTYPE html>
<html>
  <head>
  <html>
    </head>
    <body>
      <title>Easyhome</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <div class="topnav">
      	<%= link_to ads_path, class: 'navbar-brand' do %>
            <%= image_tag("logobianco.png", width: 40) %> 
  	  	<% end %>
        <%= link_to "Easy Home", ads_path, class: 'navbar-brand' %>
        <%= link_to "Profilo", current_user, class: 'navbar-brand' %>
        <%= link_to 'Servizi', services_path, class: 'navbar-brand' %>
        <%= link_to 'Edil News', articles_path, class: 'navbar-brand' %>
        <%= link_to 'Contatti', contacts_path, class: 'navbar-brand' %>
        <%= link_to 'About Us', contacts_show_path , class: 'navbar-brand' %>
      </div>
  </head>
  <body>
  	<% if flash[:notice] %>
  		<div class="notification is-primary global-notification">
  			<p class="notice"><%= notice %></p>
  		</div>
  	<% end %>
  	<% if flash[:alert] %>
  		<div class="notification is-danger global-notification">
  			<p class="alert"><%= alert %></p>
  		</div>
  	<% end %>
    <nav class="navbar is-info">
  		<div style="width:1000px; margin:0 auto;" class="navbar-brand" >
  	
    <%= yield %>
  </body>
<% if user_signed_in? %>
Logged in as <%= current_user.email%> [<%= link_to 'Logout', 
destroy_user_session_path, :method => :delete%>]
<% end %>



</html>
