<!DOCTYPE html>
<html>
  <head>
  <html>
    <style>
    h1 {text-align: center;}
    p {text-align: left;}
    div {text-align: left;}
    .center {
      display: flex;
      justify-content: center;
    }   
    </style>
    </head>
    <body>
      <title>Easyhome</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<% if flash[:notice] %>
  		<div class="notification is-primary global-notification">
  			<p class="notice"><%= notice %></p>
  		</div>
  	<% end %>
  	<% if flash[:alert] %>
  		<div class="notification is-danger global-notification">
  			<p class="alert"><%= alert %></p>
  		</div>
  	<% end %>
  	<nav class="navbar is-info">
  		<div style="width:800px; margin:0 auto;" class="navbar-brand" >
  		<%= link_to root_path, class: "navbar-item" do %>
  			<h1 class="title is-5">Easy Home</h1>
        <div class="center">
          <%= image_tag("favicon.png", width: 200) %> 
        </div>
  		<% end %>
      <nav class="navbar is-info">
  		  <div class="navbar-brand">
  		    <%= link_to articles_path, class: "navbar-item" do %>
  			  <h1 class="title is-5">Edil News</h1>
  		<% end %>
    <nav class="navbar navbar-default">
    <nav class="navbar navbar-default">
        <div class="containter-fluid">
          <div class="navbar-header">
          </div>
        </div>
      </nav>
    </nav>
    <%= yield %>
  </body>
  <div class="center">    
    <%= link_to "Profilo", current_user, class: 'navbar-brand' %>
  </div>
  <div class="center">    
    <%= link_to 'Servizi', services_path, class: 'navbar-brand' %>
  </div>
<% if user_signed_in? %>
Logged in as <%= current_user.email%> [<%= link_to 'Logout', 
destroy_user_session_path, :method => :delete%>]
<% end %>

</html>
